body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.box {
  width: 400px;
  height: auto;
  border-radius: 12px;
  box-shadow: 5px 0 2px rgba(0, 0, 0, 0.23);
  margin: 40px;
  padding: 12px;
}
.score {
  display: flex;
  justify-content: space-between;
}
.play {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
.play section {
  width: 100px;
  height: 100px;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
.btns {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 12px;
}
.btns button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
}
.btns button:hover {
  background-color: #da77f2;
  scale: 1.2;
  transition: ease-in 100ms;
}
.heading {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.reset {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.reset button {
  border: none;
}
.reset button:hover {
  background-color: #e5dbff;
  scale: 1.1;
  transition: ease-in 100ms;
}
